@import "tailwindcss";
html, body, #root {
  background-color: #050505; /* Your dark theme background */
  height: 100%;
  margin: 0;
}
body { 
  margin: 0; 
  padding: 0; 
  width: 100vw; 
  height: 100vh; 
  display: block; 
  box-sizing: border-box; 
}